.layout_container {
  // border: 1px solid red;
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  margin: 0px auto;

  @media only screen and (max-width: 600px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
